
#auth_main{
    background-color: $base;
}

.auth__container{
    height: 100vh;
}

#auth__image{
    background-image: url('https://cdn.dribbble.com/users/942818/screenshots/11979015/media/a1bc405bf3d469150be81291d3e86cc2.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    min-height: 75vh;
}

.auth__form{
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    background: $grey-lite;
}
.auth__form h3{
    text-align: center;
    color: $base;
}

.auth__btn{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #fff;
    color: #0062cc;
}

.auth__input{
    width: 50%;
    border-radius: 1rem;
    width: 100%;
    background-color: #fff;
}

.auth__form .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    
}